@font-face{
    font-family: 'Roboto Black';
    src: url('../fonts/Roboto-Black.ttf');
    font-weight: 900;
}
@font-face{
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto Regular';
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Black';
    color: rgba(34, 34, 34, 0.55);
}
ul, p{
    margin-bottom: 0;
}
p,span,a,label{
    font-family: 'Roboto Regular';
}
header{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.header_content{
    flex-grow: 1;
    background: linear-gradient(45deg, #26685691, #ffffff9a), url('../images/header.jpg')no-repeat center center /cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header_title{
    font-family: 'Roboto Black';
    color: #fff;
    font-size: 55px;
    width: 50%;
    line-height: 48px;
}
.header_desc{
    color: #fff;
    font-size: 18px;
    width: 50%;
}
.header_title::after{
    content: '';
    display: block;
    width: 200px;
    margin-top: 8px;
    height: 3px;
    background: #fff;
}
nav{
    background: #266856;
    padding: 17px 0;
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    z-index: 55;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -25;
    box-shadow: 0px 1px 5px #0000004a;
}
.menu a{
    color: #fff;
    font-size: 20px;
}
.menu a:hover{
    text-decoration: none;
}
.phone{
    color: #fff;
    font-size: 22px;
}
.phone span{
    margin-left: 8px;
}
.phone:hover{
    color: #fff;
    text-decoration: none;
}
.about{
    padding: 50px 0;
}
.about h2{
    margin-bottom: 50px;
    font-size: 40px;
    display: inline-block;
    text-transform: uppercase;
}
.about h2::before{
    content: '';
    display: block;
    width: 35%;
    height: 3px;
    background: #909090;
    margin: 0 0 8px auto;
}
.about h2::after{
    content: '';
    display: block;
    width: 35%;
    height: 3px;
    background: #909090;
    margin-top: 8px;
}
.box{
    padding: 25px;
    box-shadow: 0px 1px 5px #0000001f;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    height: 220px;
}
.box_img span{
    font-size: 35px;
    color: rgba(34, 34, 34, 0.5);
}
.box_img{
    margin-bottom: 15px;
}
.box_description{
    font-size: 18px;
    height: 60px;
    color:  rgba(34, 34, 34, 0.35);
}
.box_text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    background: #266856;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: 0.2s;
    transform: translateX(-100%);
}
.box:hover>.box_text{
    transform: translateX(0);
}
.kinds{
    background: #266856;
    padding: 50px 0;
}
.kinds_img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.kinds_img img{
    border-radius: 50%;
}
.kinds h2{
    margin-bottom: 50px;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    display: inline-block;
}
.kinds h2::before{
    content: '';
    display: block;
    width: 35%;
    height: 3px;
    background: #fff;
    margin: 0 0 8px auto;
}
.kinds h2::after{
    content: '';
    display: block;
    width: 35%;
    height: 3px;
    background: #fff;
    margin-top: 8px;
}
.kinds_text{
    color: #fff;
    margin-top: 15px;
    font-size: 18px;
}
.kinds_box{
    margin-bottom: 15px;
}
.autoplay_arrows{
    margin-top: 15px;
}
.autoplay_arrows .slick-prev{
    margin: 0 10px;
    color: #fff;
    font-size: 30px;
}
.autoplay_arrows .slick-next{
    margin: 0 10px;
    color: #fff;
    font-size: 30px;
}
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.autoplay_2_arrows{
    margin-top: 15px;
}
.autoplay_2_arrows .slick-prev{
    margin: 0 10px;
    color: #fff;
    font-size: 30px;
}
.autoplay_2_arrows .slick-next{
    margin: 0 10px;
    color: #fff;
    font-size: 30px;
}
.form_title{
    margin-bottom: 50px;
    font-size: 40px;
    display: inline-block;
    text-transform: uppercase;
}
.form_title::before{
    content: '';
    display: block;
    width: 15%;
    height: 3px;
    background: #909090;
    margin: 0 0 8px auto;
}
.form_title::after{
    content: '';
    display: block;
    width: 15%;
    height: 3px;
    background: #909090;
    margin-top: 8px;
}
.form{
    padding: 60px 0;
}
.form-control{
    border-color: #266856;
    padding: 9px 15px;
    border-radius: 10px;
    height: auto;
}
.form-control::placeholder{
    color:  rgba(34, 34, 34, 0.35);
}

.my_btn{
    background: #266856;
    color: #fff;
    padding: 9px 18px;
    border: 1px solid #266856;
    border-radius: 10px;
}
.my_btn:hover{
    background: #fff;
    color: #266856;
}
.gallery{
    padding: 50px 0;
    background: #266856;
}
.gallery h2{
    margin-bottom: 50px;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    display: inline-block;
}
.gallery h2::before{
    content: '';
    display: block;
    width: 35%;
    height: 3px;
    background: #fff;
    margin: 0 0 8px auto;
}
.gallery h2::after{
    content: '';
    display: block;
    width: 35%;
    height: 3px;
    background: #fff;
    margin-top: 8px;
}
.gallery .slide img{
    width: 100%;
}
@media screen and (max-width: 992px){
    .menu a{
        font-size: 16px;
    }
    .logo img{
        width: 70px;
        height: 70px;
        bottom: -40px;
    }
    .phone{
        font-size: 18px;
    }
    .form_title::after,
    .form_title::before{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .header_title{
        width: 60%;
    }
}
@media screen and (max-width: 458px){
    .header_title{
        font-size: 35px;
        width: 70%;
    }
    .header_title::after{
        width: 110px;
    }
    .about h2,
    .kinds h2,
    .form_title,
    .gallery h2{
        font-size: 30px;
    }
}