@font-face{
    font-family: 'Roboto Black';
    src: url('../fonts/Roboto-Black.ttf');
    font-weight: 900;
}
@font-face{
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto Regular';
}
body{
    position: relative;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Black';
    color: rgba(34, 34, 34, 0.70);
}
ul, p{
    margin-bottom: 0;
}
p,span,a,label{
    font-family: 'Roboto Regular';
}
header{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.header_content{
    flex-grow: 1;
    background: linear-gradient(45deg, #26685691, #ffffff9a), url('../images/header.jpg')no-repeat center center /cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header_title{
    font-family: 'Roboto Black';
    color: #fff;
    font-size: 55px;
    width: 50%;
    line-height: 48px;
}
.header_desc{
    color: #fff;
    font-size: 18px;
    width: 50%;
}
.header_title::after{
    content: '';
    display: block;
    width: 200px;
    margin-top: 8px;
    height: 3px;
    background: #fff;
}
nav{
    background: #266856;
    padding: 24px 0;
    width: 100%;
    z-index: 55;
}
.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -25;
    box-shadow: 0px 1px 5px #0000004a;
}
.menu a{
    color: #fff;
    font-size: 23px;
}
.menu a:hover{
    text-decoration: none;
}
.phone{
    color: #fff;
    font-size: 24px;
}
.phone span{
    margin-left: 8px;
}
.phone:hover{
    color: #fff;
    text-decoration: none;
}
.about{
    padding: 90px 0;
}
.about h2{
    margin-bottom: 50px;
    font-size: 40px;
    display: inline-block;
    text-transform: uppercase;
}
.about h2::before{
    content: '';
    display: block;
    width: 35%;
    height: 3px;
    background: #222222b3;
    margin: 0 0 8px auto;
}
.about h2::after{
    content: '';
    display: block;
    width: 35%;
    height: 3px;
    background: #222222b3;
    margin-top: 8px;
}
.box{
    padding: 25px;
    box-shadow: 0px 1px 5px #0000001f;
    border-radius: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    height: 280px;
    cursor: pointer;
}
/* .box_img span{
    font-size: 35px;
    color: rgba(34, 34, 34, 0.7);
} */
.box_img{
    width: 140px;
    height: 140px;
    margin-bottom: 25px;
}
.box_img img{
    width: 100%;
    height: 100%;
}
.box_description{
    font-size: 18px;
    height: 60px;
    color:  rgba(34, 34, 34, 0.45);
}
.box_text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: white;
    background: #266856;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: 0.2s;
    transform: translateX(-100%);
}
.box:hover>.box_text{
    transform: translateX(0);
}
.kinds{
    background: #266856;
    padding: 90px 0;
}
.kinds_img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.kinds_img img{
    border-radius: 50%;
}
.kinds h2{
    margin-bottom: 50px;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    display: inline-block;
}
.kinds h2::before{
    content: '';
    display: block;
    width: 35%;
    height: 3px;
    background: #fff;
    margin: 0 0 8px auto;
}
.kinds h2::after{
    content: '';
    display: block;
    width: 35%;
    height: 3px;
    background: #fff;
    margin-top: 8px;
}
.kinds_text{
    color: #fff;
    margin-top: 15px;
    font-size: 18px;
}
.kinds_box{
    margin-bottom: 15px;
}
.autoplay_arrows{
    margin-top: 15px;
}
.autoplay_arrows .slick-prev{
    margin: 0 10px;
    color: #fff;
    font-size: 30px;
}
.autoplay_arrows .slick-next{
    margin: 0 10px;
    color: #fff;
    font-size: 30px;
}
.slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.autoplay_2_arrows{
    margin-top: 15px;
}
.autoplay_2_arrows .slick-prev{
    margin: 0 10px;
    color: #fff;
    font-size: 30px;
}
.autoplay_2_arrows .slick-next{
    margin: 0 10px;
    color: #fff;
    font-size: 30px;
}
.form_title{
    margin-bottom: 65px;
    font-size: 40px;
    display: inline-block;
    text-transform: uppercase;
}
.form_title::before{
    content: '';
    display: block;
    width: 15%;
    height: 3px;
    background: #222222b3;
    margin: 0 0 8px auto;
}
.form_title::after{
    content: '';
    display: block;
    width: 15%;
    height: 3px;
    background: #222222b3;
    margin-top: 8px;
}
.form{
    padding: 90px 0;
}
.form-control{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(34, 34, 34, 0.45);
    padding: 20px 15px;
    height: auto;
}
.form-control::placeholder{
    color:  rgba(34, 34, 34, 0.45);
}

.my_btn{
    background: #266856;
    color: #fff;
    padding: 9px 18px;
    border: 1px solid #266856;
    border-radius: 10px;
}
.my_btn:hover{
    background: #fff;
    color: #266856;
}
.gallery{
    padding: 90px 0;
    background: #266856;
}
.gallery h2{
    margin-bottom: 50px;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    display: inline-block;
}
.gallery h2::before{
    content: '';
    display: block;
    width: 35%;
    height: 3px;
    background: #fff;
    margin: 0 0 8px auto;
}
.gallery h2::after{
    content: '';
    display: block;
    width: 35%;
    height: 3px;
    background: #fff;
    margin-top: 8px;
}
.gallery .slide img{
    width: 100%;
}
.footer_top{
    padding: 90px 0;
    background: #2c3e50;
}
.location_title,
.numbers_title,
.social_title{
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
    line-height: 1.2;
}
.location_text,
.numbers_text{
    display: block;
    color: #fff;
    font-size: 1.25rem;
    font-family: 'Roboto Regular';
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.social_networks{
    width: 70%;
    margin: 0 auto;
}
.social_network{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social_network a{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.footer_bottom{
    background: #1a252f;
    padding: 1.5rem 0;
}
.footer_bottom p{
    font-size: 80%;
    font-family: 'Roboto Regular';
    color: #fff;
}
.modal_wrapper{
    position: absolute;
    top: 1000px;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100vh;
    transition: 0.15s linear;
    opacity: 0;
    background: rgba(0, 0, 0, 0.658);
    align-items: center;
    justify-content: center;
}
.modal_wrapper.show{
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    opacity: 1;
}
.my_modal{
    width: 50%;
    background: #fff;
    padding: 4rem 1rem;
    position: relative;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-out;
    transform: translate(0, -50px);
}
.my_modal.show{
    transform: none;
    display: flex;
}
.modal_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal_title{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center;
}
.modal_img{
    width: 40%;
    margin-bottom: 40px;
}
.modal_text{
    font-family: 'Roboto Regular';
    width: 50%;
    text-align: center;
    margin-bottom: 25px;
}
.modal_img img{
    width: 100%;
}
.modal_close{
    background: #266856;
    color: #fff;
    padding: 9px 18px;
    border: 1px solid #266856;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
}
.modal_close:hover{
    background: #fff;
    color: #266856;
    text-decoration: none;
}
@media screen and (max-width: 1200px){
    .menu a{
        font-size: 21px;
    }
    .my_modal{
        width: 60%;
    }
}
@media screen and (max-width: 992px){
    .phone{
        font-size: 22px;
    }
    .form_title::after,
    .form_title::before{
        display: none;
    }
    .social_networks{
        width: 40%;
    }
}
@media screen and (max-width: 768px){
    .header_title{
        width: 60%;
    }
    .my_modal{
        width: 80%;
    }
    .modal_text{
        width: 70%;
    }
}
@media screen and (max-width: 458px){
    .header_title{
        font-size: 35px;
        width: 70%;
    }
    .header_title::after{
        width: 110px;
    }
    .about h2,
    .kinds h2,
    .form_title,
    .gallery h2{
        font-size: 30px;
    }
    .logo img{
        width: 70px;
        height: 70px;
        bottom: -40px;
    }
    .phone{
        font-size: 18px;
    }
    .social_networks{
        width: 70%;
    }
    .modal_text{
        width: 80%;
    }
    .modal_text{
        width: 100%;
    }
}